[submodule "test/third-party/libspng"]
	path = third-party/libspng
	url = https://github.com/randy408/libspng.git
[submodule "test/third-party/Unity"]
	path = third-party/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "third-party/libgd"]
	path = third-party/libgd
	url = https://github.com/libgd/libgd
[submodule "tools/third-party/run-clang-format"]
	path = tools/third-party/run-clang-format
	url = https://github.com/Sarcasm/run-clang-format.git
